<div>
  <link href="./game-container2.css" rel="stylesheet" />
  <div class="game-container2-game-container">
    <div class="game-container2-container">
      <a href="guess-the-kitty.html" class="game-container2-navlink">
        <img
          alt="image"
          src="public/playground_assets/guess-the-kitty-300h.png"
          class="game-container2-image"
        />
      </a>
      <span class="game-container2-text"><span>Guess the Kitty</span></span>
    </div>
    <div class="game-container2-container1">
      <a href="slope-3.html" class="game-container2-navlink1">
        <img
          alt="image"
          src="public/playground_assets/slope-3-300h.png"
          class="game-container2-image1"
        />
      </a>
      <span class="game-container2-text1"><span>Slope 3</span></span>
    </div>
    <div class="game-container2-container2">
      <a href="bottle-flip-3d.html" class="game-container2-navlink2">
        <img
          alt="image"
          src="public/playground_assets/bottle-flip-3d-300h.png"
          class="game-container2-image2"
        />
      </a>
      <span class="game-container2-text2"><span>Bottle Flip 3D</span></span>
    </div>
    <div class="game-container2-container3">
      <a href="retro-bowl.html" class="game-container2-navlink3">
        <img
          alt="image"
          src="public/playground_assets/retro-bowl-300h.png"
          class="game-container2-image3"
        />
      </a>
      <span class="game-container2-text3"><span>Retro Bowl</span></span>
    </div>
  </div>
</div>
