<div>
  <link href="./game-container8.css" rel="stylesheet" />
  <div class="game-container8-game-container">
    <div class="game-container8-container">
      <a href="merge-master.html" class="game-container8-navlink">
        <img
          alt="image"
          src="public/playground_assets/logo%20%5B4%5D-300h.png"
          class="game-container8-image"
        />
      </a>
      <span class="game-container8-text"><span>Merge Master</span></span>
    </div>
    <div class="game-container8-container1">
      <a href="house-of-hazards.html" class="game-container8-navlink1">
        <img
          alt="image"
          src="public/playground_assets/logo%20%5B5%5D-300h.png"
          class="game-container8-image1"
        />
      </a>
      <span class="game-container8-text1"><span>House of Hazards</span></span>
    </div>
    <div class="game-container8-container2">
      <a href="jewel-shuffle.html" class="game-container8-navlink2">
        <img
          alt="image"
          src="public/playground_assets/logo%20%5B6%5D-300h.png"
          class="game-container8-image2"
        />
      </a>
      <span class="game-container8-text2"><span>Jewel Shuffle</span></span>
    </div>
    <div class="game-container8-container3">
      <a href="merge-cakes.html" class="game-container8-navlink3">
        <img
          alt="image"
          src="public/playground_assets/logo%20%5B7%5D-300h.png"
          class="game-container8-image3"
        />
      </a>
      <span class="game-container8-text3"><span>Merge Cakes</span></span>
    </div>
  </div>
</div>
